--[[
Conky config file


TODO
  - add battery
  - automatically detect and handle
    - storage
    - amount of cpu cores
    - network interfaces
]]


-- Settings
conky.config = {
  alignment = 'bottom_left',
  gap_x = 25,
  gap_y = 13,
  minimum_width = 200,
  background = true,
  cpu_avg_samples = 2,
  double_buffer = true,
  no_buffers = true,
  own_window = true,
  own_window_type = 'override',
  own_window_transparent = true,
  update_interval = 1.0,
  update_interval_on_battery = 4.0,
  use_xft = true,
  font = 'Bitstream Vera Sans:size=8',
  --draw_graph_borders = false,

  -- Colors
  default_color = 'FFFFFF',
  default_outline_color = 'FFFFFF',
  color1 = '1DAB59', -- accent
  color2 = '2ECC71', -- accent light
  color3 = 'F00000', -- warning

};

conky.text = [[
######
## CPU
######
  ${goto 0}CPU${font Bitstream Vera Sans:bold:size=8}${alignr 10}${loadavg}$font
  ${voffset 5}${goto 0}${color2}Proc: ${color}$running_processes / $processes${alignr 10}$cpu%
  ${voffset 0}${goto 0}${color1}${cpugraph cpu0  40,200 -l}${color}
  #
  ${goto 0}${cpu cpu1}%${goto 63}${cpu cpu2}%${goto 126}${cpu cpu3}%${alignr 10}${cpu cpu4}%
  ${goto 0}${cpu cpu5}%${goto 63}${cpu cpu6}%${goto 126}${cpu cpu7}%${alignr 10}${cpu cpu8}%
  ${goto 0}${cpu cpu9}%${goto 63}${cpu cpu10}%${goto 126}${cpu cpu11}%${alignr 10}${cpu cpu12}%
  ${goto 0}${cpu cpu13}%${goto 63}${cpu cpu14}%${goto 126}${cpu cpu15}%${alignr 10}${cpu cpu16}%
######
## RAM
######
  ${voffset 10}${goto 0}RAM${font Bitstream Vera Sans:bold:size=8}${alignr 10}$mem / $memmax : $memperc%$font
  ${voffset -0}${goto 0}${color1}${memgraph 40,200 -l}${color}
  ${goto 0}Swap:  $swapperc%${alignr 12}${color1}${swapbar 5,120}${color}
######
## NETWORKING
######
  #
  #Wireless
  #
  ${voffset 10}${goto 0}NETWORKING ${font Bitstream Vera Sans:bold:size=8}${alignr 10}WLAN$font
  ${voffset 5}${goto 4}Down${goto 106}Up
  ${voffset -19}${goto 0}${color1}${downspeedgraph wlp1s0 40,98 -l}${alignr 12}${upspeedgraph wlp1s0 40,98 -l}${color}
  ${voffset -7}${goto 0}${downspeedf wlp1s0} Kbs - ${totaldown wlp1s0}${goto 102}${upspeedf wlp1s0} Kbs - ${totalup wlp1s0}
  #
  #Ethernet
  #
  ${voffset 4}${font Bitstream Vera Sans:bold:size=8}${alignr 10}LAN$font
  ${voffset 5}${goto 4}Down${goto 106}Up
  ${voffset -19}${goto 0}${color1}${downspeedgraph enp3s0f3u1u3c2 40,98 -l}${alignr 12}${upspeedgraph enp3s0f3u1u3c2 40,98 -l}${color}
  ${voffset -7}${goto 0}${downspeedf enp3s0f3u1u3c2} Kbs - ${totaldown enp3s0f3u1u3c2}${goto 102}${upspeedf enp3s0f3u1u3c2} Kbs - ${totalup enp3s0f3u1u3c2}
######
## DRIVES
######
  ${voffset 10}${goto 0}DRIVES${font Bitstream Vera Sans:bold:size=8}${alignr 10}SSD${font}
  ${voffset -1}${goto 4}r${goto 106}w
  ${voffset -16}${goto 0}${color1}${diskiograph_read /dev/nvme0n1 40,98 -l}${alignr 12}${diskiograph_write /dev/nvme0n1 40,98 -l}${color}
  ${voffset -7}${goto 0}${diskio_read /dev/nvme0n1}${goto 102}${diskio_write /dev/nvme0n1}
  #
  #FILE SYSTEM
  #
  ${voffset 10}${goto 0}FILE SYSTEM
  #
  # Partition /
  #
  ${voffset 4}${goto 0}/ ${if_match "${fs_type /}"!="ext4"}(${fs_type /})${endif}${alignr 10}${fs_size /} / ${fs_free /}  :  ${fs_used_perc /}%
  ${goto 0}${if_match ${fs_used_perc /} > 90}${color3}${else}${color1}${endif}${fs_bar 5,200 /}${color}
]]


-- Code that is not needed
--[[
######
## Battery
######
# ${voffset -7}${goto 0}BATTERY${font Bitstream Vera Sans:bold:size=8}${alignr 10}${if_match "${battery_time}"=="unknown"}${else}$battery_time  :${endif}  $battery_short${font}

#
#NETWORKING (with interface detection) (not working)
#

  ${voffset 10}${goto 0}NETWORKING${font Bitstream Vera Sans:bold:size=8}${alignr 10}${if_match "${wireless_essid wlp1s0}"=="off/any"}Wlan getrennt${else}${wireless_essid wlp1s0}   ${wireless_link_qual_perc wlp1s0}%${endif}$font
  #
  #Wireless
  #
  ${if_match "${wireless_essid wlp1s0}"=="off/any"}${else}${voffset 5}${goto 4}Down${goto 106}Up
  ${voffset 5}${goto 4}Down${goto 111}Up
  ${voffset -19}${goto 0}${color1}${downspeedgraph wlp1s0 40,98 -l}${alignr 12}${upspeedgraph wlp1s0 40,98 -l}${color}
  ${voffset -7}${goto 0}${downspeedf wlp1s0} Kbs - ${totaldown wlp1s0}${goto 102}${upspeedf wlp1s0} Kbs - ${totalup wlp1s0}${endif}
  #
  #Ethernet
  #
  ${voffset 4}${font Bitstream Vera Sans:bold:size=8}${alignr 10}${if_match "${totaldown enp3s0f3u1u3c2}"=="0B"}Lan getrennt${else}LAN${endif}$font
#t ${voffset 4}${font Bitstream Vera Sans:bold:size=8}${alignr 10}${if_match "${totaldown enp3s0f3u1u3c2}"=="B"}Lan getrennt${else}LAN${endif}$font
  ${if_match "${totaldown enp3s0f3u1u3c2}"=="0B"}${else}${voffset 5}${goto 4}Down${goto 111}Up
#t ${if_match "${totaldown enp3s0f3u1u3c2}"=="B"}${else}${voffset 5}${goto 4}Down${goto 111}Up
  ${voffset -19}${goto 0}${color1}${downspeedgraph enp3s0f3u1u3c2 40,98 -l}${alignr 12}${upspeedgraph enp3s0f3u1u3c2 40,98 -l}${color}
  ${voffset -7}${goto 0}${downspeedf enp3s0f3u1u3c2} Kbs - ${totaldown enp3s0f3u1u3c2}${goto 102}${upspeedf enp3s0f3u1u3c2} Kbs - ${totalup enp3s0f3u1u3c2}
  ${endif}
]]
