-- vim:syntax=lua
--
-- conky config file
--

-- todo
--     automatically detect and handle
--         different mounted storages
--         amount of cpu cores
--         if battery is available

-- temporarily disabled 
--     /mnt/data display
--     Battery display
--     extra cpu core display

conky.config = {
  alignment = 'bottom_left',
  background = true,
  cpu_avg_samples = 2,
  default_color = 'FFFFFF',
  double_buffer = true,
  font = 'Bitstream Vera Sans:size=8',
  gap_x = 25,
  gap_y = 13,
  minimum_width = 200,
  no_buffers = true,
  own_window = true,
  own_window_type = 'override',
  own_window_transparent = true,
  update_interval = 1.0,
  use_xft = true,
  --  draw_graph_borders = false,
  -- Colors
  color1 = '1DAB59',
  color2 = '2ECC71',
  color3 = 'F00000', -- used for warning
}

conky.text = [[
  #  #CPU
  ${goto 0}CPU${font Bitstream Vera Sans:bold:size=8}${alignr 10}${loadavg}$font
  ${voffset 5}${goto 0}${color2}Pro: ${color}$running_processes / $processes${alignr 10}$cpu%
  ${voffset -0}${goto 0}${color1}${cpugraph cpu0  40,200 -l}${color}
  #
  ${goto 0}${cpu cpu1}%${goto 59}${cpu cpu2}%${goto 118}${cpu cpu3}%${alignr 10}${cpu cpu4}%
# ${goto 0}${cpu cpu5}%${goto 59}${cpu cpu6}%${goto 118}${cpu cpu7}%${alignr 10}${cpu cpu8}%
  #  #RAM
  ${voffset 10}${goto 0}RAM${font Bitstream Vera Sans:bold:size=8}${alignr 10}$mem / $memmax : $memperc%$font
  ${voffset -0}${goto 0}${color1}${memgraph 40,200 -l}${color}
  #
  ${goto 0}Swap:  $swapperc%${alignr 12}${color1}${swapbar 5,120}${color}
  #  #NETWORKING
  ${voffset 10}${goto 0}RAM${font Bitstream Vera Sans:bold:size=8}${alignr 10}${if_match "${wireless_essid wlo1}"=="off/any"}Wlan getrennt${else}${wireless_essid wlo1}   ${wireless_link_qual_perc wlo1}%${endif}$font
  #Wireless
  ${if_match "${wireless_essid wlo1}"=="off/any"}${else}${voffset 5}${goto 4}Down${goto 106}Up
  ${voffset -19}${goto 0}${color1}${downspeedgraph wlo1 40,98 -l}${alignr 12}${upspeedgraph wlo1 40,98 -l}${color}
  ${voffset -7}${goto 0}${downspeedf wlo1} Kbs - ${totaldown wlo1}${goto 102}${upspeedf wlo1} Kbs - ${totalup wlo1}${endif}
  #Ethernet
  ${voffset 4}${font Bitstream Vera Sans:bold:size=8}${alignr 10}${if_match "${totaldown eno1}"=="0B"}Lan getrennt${else}LAN${endif}$font
#t ${voffset 4}${font Bitstream Vera Sans:bold:size=8}${alignr 10}${if_match "${totaldown eno1}"=="B"}Lan getrennt${else}LAN${endif}$font
  ${if_match "${totaldown eno1}"=="0B"}${else}${voffset 5}${goto 4}Down${goto 106}Up
#t ${if_match "${totaldown eno1}"=="B"}${else}${voffset 5}${goto 4}Down${goto 106}Up
  ${voffset -19}${goto 0}${color1}${downspeedgraph eno1 40,98 -l}${alignr 12}${upspeedgraph eno1 40,98 -l}${color}
  ${voffset -7}${goto 0}${downspeedf eno1} Kbs - ${totaldown eno1}${goto 102}${upspeedf eno1} Kbs - ${totalup eno1}
  ${endif}
  #  #BATTERY
# ${voffset -7}${goto 0}BATTERY${font Bitstream Vera Sans:bold:size=8}${alignr 10}${if_match "${battery_time}"=="unknown"}${else}$battery_time  :${endif}  $battery_short${font}
  #  #DRIVES
  ${voffset 10}${goto 0}DRIVES${font Bitstream Vera Sans:bold:size=8}${goto 77}SSD${alignr 10}HDD${font}
  ${voffset -1}${goto 2}r${goto 52}w${goto 104}r${goto 154}w
  ${voffset -16}${goto 0}${color1}${diskiograph_read /dev/nvme0n1 40,48 -l}${goto 50}${diskiograph_write /dev/nvme0n1 40,48 -l}${goto 102}${diskiograph_read /dev/nvme0n1dev/sda 40,48 -l}${goto 152}${diskiograph_write /dev/sda 40,48 -l}${color}
  ${voffset -7}${goto 0}${diskio_read /dev/nvme0n1}${goto 50}${diskio_write /dev/nvme0n1}${goto 102}${diskio_read /dev/sda}${goto 152}${diskio_write /dev/sda}
  #  #FILE SYSTEM
  ${voffset 10}${goto 0}FILE SYSTEM
  # Disk /
  ${voffset 4}${goto 0}/ ${if_match "${fs_type /}"!="ext4"}(${fs_type /})${endif}${alignr 10}${fs_size /} / ${fs_free /}  :  ${fs_used_perc /}%
  ${goto 0}${if_match ${fs_used_perc /} > 90}${color3}${else}${color1}${endif}${fs_bar 5,200 /}${color}
  # End disk /
  # Disk /mnt/data
# ${voffset 4}${goto 0}/mnt/data ${if_match "${fs_type /mnt/data}"!="ext4"}(${fs_type /mnt/data})${endif}${alignr 10}${fs_size /mnt/data} / ${fs_free /mnt/data}  :  ${fs_used_perc /mnt/data}%
# ${goto 0}${if_match ${fs_used_perc /mnt/data} > 90}${color3}${else}${color1}${endif}${fs_bar 5,200 /mnt/data}${color}
  # End disk /mnt/data
]]
